@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;  margin: 0;
  padding: 20px;
  background-color: #000000; /* fundo preto escuro */
  color: #eeeeee; /* cor do texto clara */
  line-height: 1.6; /* melhora a leitura */
}


.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card {
  background-color: #1e1e1e; /* blocos mais claros que o fundo */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* sombra mais visível no fundo escuro */
  max-width: 400px;
  flex: 1;
  justify-content: center;  /* centraliza na vertical */
  align-items: center;      /* centraliza na horizontal */
  flex-direction: column;  /* mantém os elementos empilhados */
}

.apresentacao{
  background-color: #1e1e1e; /* blocos mais claros que o fundo */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* sombra mais visível no fundo escuro */
  max-width: 400px;
  flex: 1;
  display: flex; /* necessário para usar justify-content, align-items e flex-direction */
  justify-content: center;  /* centraliza na vertical */
  align-items: center;      /* centraliza na horizontal */
  flex-direction: column;  /* mantém os elementos empilhados */
}

.apresentacao h2 {
  margin-top: 0;
  font-style: italic;
  color: #e93ecc; /* destaque Cargo Atual */
}

.empresa {
  display: block;
  font-style: italic;
  font-size: 0.6em; /* menor que o título */
  margin-top: 4px;
  color: #0A66C2; /* tom claro para detalhes */
}

.cargo {
  font-size: 18px;
  text-align: center;
  width: 100%; /* ocupar toda a largura para que o text-align funcione */
}

.titulo-destaque {
  color: #e93ecc; /* tom claro para títulos */
  margin-top: 20px;
}

.titulo-educacao
{
  color: #2563eb; /* tom claro para títulos */
  margin-top: 20px;
}

.card-header {
  text-align: center;
}

.profile-pic {
  width: 50%;
  height: auto;
  border-radius: 60%; /* Para dar efeito oval se a imagem for quadrada */
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #2563eb; /* contorno na cor do destaque */
}

.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0 ;
  text-decoration: none;
  background-color: #2563eb; /* botão  */
  color: white; /* texto escuro dentro do botão */
  border-radius: 16px;
  font-size:  16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #22d4fd; /* tom mais escuro no hover */
  color: black; 
}

.dropdown-content {
  display: none;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.dropdown-content a {
  background-color: #2a2a2a; /* fundo do dropdown escuro */
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #eee;
}

.dropdown-content a:hover {
  background-color: #3a3a3a;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px; /* controla o espaço entre os itens */
}

.destaque {
  font-weight: bold;
  color: #2563eb; 
}

